@import "../../utils/typography";
@import "../../utils//variables";
@import "../../utils/mixins";

.categories-title {
  color: $gray-primary;
  margin-bottom: 24px;

  @extend %h1;
}

.categories {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  &__item {
    transition: $duration;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__wrapper-img {
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    height: 288px
  }

  &__title {
    @extend %h3;

    margin-bottom: 4px;
  }

  &__text {
    color: $gray-secondary;

    @extend %body-text;
  }
}

@include onTablet {
  .categories {
    flex-direction: row;
    column-gap: 16px;

    &__wrapper-img {
      height: 187px;
      width: 187px;
    }
  }
}

@include onDesktop {
  .categories__wrapper-img {
    height: 368px;
    width: 368px;
  }
}

