@import '../../utils/typography';
@import '../../utils/variables';
@import '../../utils/mixins';

.ProductCard {
  grid-column: span 4;
  list-style: none;
  width: 100%;
  border: 1px solid $gray-elements;
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__link {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    text-decoration: none;
    height: 100%;
  }

  &__img-wrapper {
    margin-inline: auto;
    margin-bottom: 8px;
    width: 148px;
    height: 129px;
    transition: transform $duration;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__top {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__name {
    color: $gray-primary;

    @extend %body-text;
  }

  &__price-wrapper {
    display: flex;
    column-gap: 8px;
  }

  &__price {
    color: $gray-primary;

    @extend %h3;

    &--full {
      color: $gray-secondary;
      text-decoration: line-through;
      font-weight: 500;
    }

    &::before {
      content: '\0024';
    }
  }

  &__devider {
    height: 1px;
    width: 100%;
    background-color: $gray-elements;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__info-item {
    display: flex;
    justify-content: space-between;
  }

  &__info-name {
    color: $gray-secondary;

    @extend %text-small;

    &--value {
      color: $gray-primary;
    }
  }
}

.ProductCard__link:hover .ProductCard__img-wrapper {
  transform: scale(1.1);
}

@include onTablet {
 .ProductCard {
  grid-column: span 6;

  &__img-wrapper {
    width: 173px;
    height: 181px;
  }

  @media screen and (min-width: 748px) {
    grid-column: span 4;
  }
 }
}

@include onDesktop {
 .ProductCard {
    grid-column: span 6;

    &__img-wrapper {
      width: 208px;
      height: 196px;
    }
 }
}
