@import "../../utils/typography";
@import "../../utils/variables";
@import "../../utils/mixins";

.Navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 11;
  background-color: #fff;

  box-shadow: 0 1px 0 0 $gray-elements;

  &__left {
    display: flex;
    align-items: center;
    column-gap: 64px;
    padding-left: 24px;
  }

  &__list {
    display: none;
    align-items: center;
    column-gap: 16px;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 64px;
    color: $gray-secondary;
    text-decoration: none;

    @extend %text-uppercase;

    &::after {
      position: absolute;
      content: '';
      height: 3px;
      width: 100%;
      bottom: 0;
      background-color: $gray-primary;

      transform: scale(0);
      transition: all $duration;
    }

    &:hover {
      color: $gray-primary;

      &::after {
        transform: scale(1);
      }
    }

    &--active {
      color: $gray-primary;

      &::after {
        transform: scale(1);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__search-bar {
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding-inline: 8px;
    margin-left: 16px;
    box-shadow: -1px 0 0 0 $gray-elements;
    align-items: center;
  }

  &__search {
    border: none;
    outline: none;
    color: $gray-primary;
    width: 100%;

    @extend %text-buttons;

    &::placeholder {
      color: $gray-icons-placeholders;

      @extend %body-text;
    }
  }

  &__CartAndFavourites {
    display: none;
  }
}

.button-burger {
  border: 0;
  height: 48px;
  width: 48px;
  padding: 0;
  background-color: transparent;
}

@include onTablet {
  .Navbar {
    &__left {
      column-gap: 32px;
      padding-left: 16px;
    }

    &__list {
      display: flex;
    }

    &__CartAndFavourites {
      display: block;
    }

    &__search-bar {
      height: 64px;
    }
  }

  .button-burger {
    display: none;
  }
}

@media screen and (min-width: 748px) {
  .Navbar__list {
    column-gap: 32px;
    width: 224px;
  }
}

@include onDesktop {
  .Navbar {
    &__list {
      column-gap: 64px;
    }

    &__search-bar {
      width: 327px;
      padding-inline: 24px;
    }
  }
}
