@import "../../utils/typography";
@import "../../utils/variables";
@import "../../utils/mixins";

.ProductDetailsPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  margin-bottom: 56px;

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 32px;
    color: $gray-primary;

    @extend %mobile-h2;

    &--error {
      color: $gray-secondary;
    }
  }

  &__top-center {
    grid-column: 1 / -1;
  }

  &__top-center-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__top-center-content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__deviding-line {
    height: 1px;
    width: 100%;
    background-color: $gray-elements;
    margin-bottom: 32px;
  }

  &__small-text {
    color: $gray-secondary;

    @extend %text-small;
  }

  &__link-capacity {
    display: flex;
    align-items: center;
    height: 34px;
    padding-inline: 8px;
    color: $gray-primary;

    @extend %body-text;

    border: 1px solid $gray-icons-placeholders;
    transition: all $duration;

    &:hover {
      border-color: $gray-primary;
    }

    &--active {
      color: $gray-white;
      border-color: $gray-primary;
      background-color: $gray-primary;
    }
  }

  &__price {
    color: $gray-primary;

    @extend %h2;

    &::before {
      content: '\0024';
    }

    &--full {
      color: $gray-secondary;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: line-through;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-name {
    color: $gray-secondary;

    @extend %text-small;
  }

  &__info-value {
    color: $gray-primary;

    @extend %text-small;
  }

  &__available-colors-title {
    display: flex;
    justify-content: space-between;
  }

  &__id-name-in-colors {
    color: $gray-icons-placeholders;

    @extend %text-small;
  }

  &__id-name {
    color: $gray-icons-placeholders;

    @extend %text-small;
  }

  &__top-right {
    display: none;
  }

  &__about {
    grid-column: 1 / -1;
  }

  &__subtitle {
    margin-bottom: 16px;

    color: $gray-primary;

    @extend %mobile-h3;
  }

  &__tech-specs {
    grid-column: 1 / -1;
  }
}

.deviding-block {
  grid-column: 1 / -1;
  height: 56px;
}

@include onTablet {
  .ProductDetailsPage {
    grid-template-columns: repeat(12, 1fr);
    width: 640px;
    margin-inline: auto;
    margin-bottom: 64px;

    &__title {
      margin-bottom: 40px;
    }

    &__top-center {
      grid-column: 8 / 13;
    }
  }

  .deviding-block {
    height: 64px;
  }
}

@include onDesktop {
  .ProductDetailsPage {
    grid-template-columns: repeat(24, 1fr);
    margin-bottom: 80px;
    width: 1200px;

    &__top-center {
      grid-column: 14 / 21;
    }

    &__id-name-in-colors {
      display: none;
    }

    &__top-right {
      display: block;
      grid-column: -1 / -3;
      justify-self: end;
    }

   

    &__about {
      grid-column: 1 / 13;
    }

    &__tech-specs {
      grid-column: 14 / 25;
    }
  }

  .deviding-block {
    height: 80px;

    &--onDesktop {
      display: none;
    }
  }
}
