@import "../../utils/typography";
@import "../../utils/variables";
@import "../../utils/mixins";

.footer {
  box-shadow: 0 -1px 0 0 #E2E6E9;
  margin-top: auto;
  padding-block: 32px;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    
    margin-inline: auto;
  }

  &__links {
    display: flex;
    column-gap: 24px;
    align-self: center;
    padding-left: 28px;
    margin-top: -54px;
  }

  &__link {
    color: $gray-secondary;
    transition: color $duration;

    @extend %text-uppercase;

    &:hover {
      color: $gray-primary;
    }
  }
}

.back-to-top {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-right: 85px;
  align-self: end;

  &__button {
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: $gray-white;
    border: 1px solid $gray-icons-placeholders;
    background-image: url(../../../public/img/icons/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all $duration;

    &:hover {
      border-color: $gray-primary;
    }
  }
  
  &__text {
    @extend %text-small;
    
    color: $gray-secondary;
    width: max-content;
    position: absolute;
    z-index: 1;
    padding-right: 16px;
    top: 50%;
    right: 100%;
    transition: all $duration;
    transform: translate(0, -50%);
  }
}

@include onTablet {
  .footer {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__links {
      justify-content: space-between;
      align-self: auto;
      margin-top: 0;
      width: 192px;
      padding-left: 0;
    }
  }

  .back-to-top {
    margin-right: 0;
    margin-left: 86px;
    align-self: auto;
  }
}

@include onDesktop {
  .footer {
    &__container {
      width: 1200px;
    }
    &__links {
      width: 379px;
    }
  }

  .back-to-top {
    margin-left: 0;
    
    &__text {
      opacity: 0;
      transform: translate(50%, -50%);
    }

    &__button:hover &__text {
      transform: translate(0, -50%);
      opacity: 1;
    }
  }
}
