@import "./utils/fonts";
@import "./utils/typography";
@import "./utils/variables";
@import "./utils/mixins";

* {
  font-family: Mont, sans-serif;
  box-sizing: border-box;
}

ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-primary;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

iframe {
  display: none;
}

body {
  margin: 0;
}

.App {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  row-gap: 80px;

  align-items: center;
}

.grid {
  --grid-colums: 4;

  display: grid;
  grid-template-columns: repeat(var(--grid-colums), 1fr);
  column-gap: 16px;

  @include onTablet {
    --grid-colums: 12;
  }

  @include onDesktop {
    --grid-colums: 24;
  }
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.container {
  padding-inline: 16px;

  @include onTablet {
    padding-inline: 24px;
  }

  @include onDesktop {
    padding-inline: 32px;
    margin-inline: auto;
  }
}


.main {
  padding-top: 88px;
  width: 100%;

  @include onTablet {
    padding-top: 104px;
  }

  @include onDesktop {
    width: 1200px;
  }
}

.footer {
  width: 100%;
}
