@import "./utils/fonts";
@import "./utils/typography";
@import "./utils/variables";
@import "./utils/mixins";

* {
  font-family: Mont, sans-serif;
  box-sizing: border-box;
}

ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-primary;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

iframe {
  display: none;
}

body {
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 40px;
}

.wrapper {
  margin-top: 88px;
  margin-inline: auto;
}

.container {
  padding-inline: 16px;
}

.main {
  margin-bottom: 80px;
}

@include onTablet {
  .App {
    margin: 0 auto;
  }
  .wrapper {
    margin-top: 104px;
  }
  .container {
    padding-inline: 24px;
    min-width: 640px;
  }
}
@include onDesktop {
  .container {
    padding-inline: 32px;
    width: 1200px;
  }
}
