@import '../../utils/variables';
@import '../../utils/typography';
@import '../../utils/mixins';

.HomePage {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.ShopByCategories {
  margin: 0 auto;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;

  &__container {
    display: flex;
    column-gap: 16px;
    width: 100%;
  }

  &__img-container {
    display: flex;
    width: 100%;
    column-gap: 16px;
    overflow: hidden;
  }

  &__img-wrapper {
    display: flex;
  }
  

  &__img {
    height: 320px;
    width: 100%;
    object-fit: cover;
  }

  &__button {
    display: none;
    background-color: #fff;
    border: 1px solid $gray-icons-placeholders;
    cursor: pointer;
    transition: border-color .3s;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;

    &:hover {
      border-color: $gray-primary;
    }
  }
}

.dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5px;

  width: 80px;
  height: 24px;

  &__dot {
    width: 14px;
    height: 4px;

    background-color: $gray-elements;

    &--active {
      background-color: $gray-primary;
    }
  }
}

.hot-prices {
  margin-top: -8px;
  padding-left: 16px;
}

.BrandNewModels {
  padding-left: 16px;
}


@include onTablet {
  .ShopByCategories {
    margin: 0;
  }

  .banner {
    padding-inline: 24px;

    &__img {
      height: auto;
    }
    
    &__button {
      display: block;
    }
  }

  .hot-prices {
    margin-top: -8px;
    padding-left: 24px;
  }
  
  .BrandNewModels {
    padding-left: 24px;
  }
}

@include onDesktop {
  .banner {
    padding-inline: 32px;

    &__img-container {
      width: 1040px;
    }

    &__button {
      display: block;
    }
  }

  .hot-prices {
    padding-inline: 32px;
  }
  
  .BrandNewModels {
    padding-inline: 32px;
  }
}
